<main>
  <div class="container-fluid px-4">
      <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active">{{title}}</li>
      </ol>
      <h1 class="mt-4">{{title}}</h1>
      <div class="card mb-4">
          <div class="card-body">
              <table id="datatablesSimple">
                  <thead>
                      <tr>
                          <th>UserName</th>
                          <th>Email</th>
                          <th>CreateDate</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th>UserName</th>
                          <th>Email</th>
                          <th>CreateDate</th>
                      </tr>
                  </tfoot>
                  <tbody>
                      <tr>
                          <td>admin</td>
                          <td>admingmail.com</td>
                          <td>now</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</main>