<main>
  <div class="container-fluid px-4">
      <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active">{{title}}</li>
      </ol>
      <h1 class="mt-4">{{title}}</h1>
      <div class="card mb-4">
          <div class="card-body">            
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Age</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items" [ngClass]="{ 'line-through': item.checked, 'bg-secondary': item.checked }">
                   <td>
                    <button 
                      type="button" 
                      class="btn"
                      [ngClass]="{ 'btn-secondary': !item.checked, 'btn-success': item.checked }" 
                      (click)="Confirm(item)">
                      Confirm
                    </button>
                  </td>
                  <td>{{ item.name }}</td>
                  <td>John Doe</td>
                  <td>30</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</main>

