<main>
  <div class="container-fluid px-4">
      <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active">{{title}}</li>
      </ol>
      <h1 class="mt-4">{{title}}</h1>
      <div class="card mb-4">
          <div class="card-body">            
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>Order Time</th>
                  <th>Symbol</th>
                  <th>Side</th>
                  <th>Order Price</th>
                  <th>Total</th>
                  <th>Order Value</th>
                  <th>Fee</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemTrade of historyOrderTrade" [ngClass]="{ 
                    'line-through': itemTrade.isResovlve, 
                    'bg-secondary': itemTrade.isResovlve,
                    'text-white': itemTrade.isResovlve}">
                   <td>
                    <button 
                      type="button" 
                      class="btn"
                      [ngClass]="{ 'btn-secondary': !itemTrade.isResovlve, 'btn-light': itemTrade.isResovlve }" 
                      (click)="Confirm(itemTrade)">
                      Confirm
                    </button>
                  </td>
                  <td>{{itemTrade.orderTime}}</td>
                  <td>{{itemTrade.symbol_Prefix}}/{{itemTrade.symbol_Suffix}}</td>
                  <td>{{itemTrade.side}}</td>
                  <td>{{itemTrade.fillAndOrderPrice_Suffix}}</td>
                  <td>{{itemTrade.filledAndTotal_Suffix_Value}}</td>
                  <td>{{itemTrade.filledAndOrderValue_Prefix}}</td>
                  <td>{{itemTrade.fee}}
                    @if (itemTrade.side == 'BUY') 
                    {
                      /{{itemTrade.symbol_Prefix}}
                    }
                    @else 
                    {
                      /{{itemTrade.symbol_Suffix}}
                    }
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</main>

